Requirement already satisfied: streamlit in ./venv/lib/python3.8/site-packages (1.40.1)
Requirement already satisfied: streamlit-option-menu in ./venv/lib/python3.8/site-packages (0.4.0)
Requirement already satisfied: pandas in ./venv/lib/python3.8/site-packages (2.0.3)
Requirement already satisfied: numpy in ./venv/lib/python3.8/site-packages (1.24.4)
Requirement already satisfied: altair in ./venv/lib/python3.8/site-packages (5.4.1)
